<div class="login-box">
  <h2>Create a new event</h2>
  <%= form_for(@event) do |f| %>
    <div class="user-box">
      <%= f.text_field :title, type: 'text' %>
      <%= f.label :title, type: 'label' %>
    </div>
    <div class="user-box">
      <%= f.text_field :description%>
      <%= f.label :description, type: 'text' %>
    </div>
    <div class="user-box">
      <%= f.date_field :date %>
      <%= f.label :date %>
    </div>
    <div class="fire">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <%= f.submit "Create Event", class: "create-ev-btn" %>
    </div>
  <% end %>
</div>